@model OnlineStore_Domain.Models.Identity.User



@if (User.Identity.IsAuthenticated)
{
    int Count = 0;
    foreach (var productitem in Model.Basket.BasketItems)
    {
        Count += productitem.Count;
    }
    <h1 style="font-size:20px">
        @Count
    </h1>
}