





<div class="text-center">
    <form class="form-signin" asp-action="ResetPassword" asp-controller="Account" method="post">
        <img class="mb-4" src="https://getbootstrap.com/docs/4.0/assets/brand/bootstrap-solid.svg" alt="" width="72" height="72">
        <h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>
        <label for="inputEmail" class="sr-only">Email address</label>
        <input name="userEmail" type="email" id="inputEmail" class="form-control" placeholder="Email address" required="" autofocus="">
       
        <div class="form-group">
            <p>Мы  отправим вам письмо на почту, нужно будет перейти по ссылке что бы сменить пароль</p>
        </div>
        <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
        <p class="mt-5 mb-3 text-muted">© 2017-2018</p>
    </form>


</div>